// Typography
@include embed-font("AvenirNextRegular", "avenir-next/avenir-next-regular");
@include embed-font("AvenirNextBold", "avenir-next/avenir-next-bold");
@include embed-font("AvenirNextItalic", "avenir-next/avenir-next-italic");
@include embed-font("Fira Code Medium", "fira-code/FiraCode-Medium");

$font-family-base: 'Avenir Next', -apple-system, Helvetica, Arial, sans-serif;
$font-family-sub: 'Avenir Next', -apple-system, sans-serif;
$font-family-code: 'Fira Code Medium', -apple-system-mono, monospace;

$font-size-base:   18px;
$line-height-base: 1.5;

$font-size-mobile: 16px;

$font-weight-base-normal: 600;
$font-weight-base-bold:   700;

$font-weight-sub-normal:  400;
$font-weight-sub-bold:    700;

$font-size-small: 0.85rem;

$spacing-unit: 1em;

// Color Scheme
$text-color:            #222222;
$text-color-light:      #bbb;
$title-color:           #222222;

$background-color:      #fff;

$brand-color-base:      #3C454B;
$brand-color-sub:       #222222;

$white-color:           #fff;

$grey-color:   lighten($text-color-light, 20%);
$border-color: lighten($text-color-light, 20%);

// Max width of the content area
$content-width: 800px;

// Breakpoints
$reflow-point:  860px;